:root {
  --bg-color-day: url(assets/pcdia.svg);
  --bg-color-night: url(./assets/pcnoite.svg);
  --bg-mobile-day: url(assets/bg-mobiledia.svg);
  --bg-mobile-night: url(assets/bg-mobile-night.svg);
  --switch-bg-day: url(./assets/sun.svg);
  --switch-bg-night: url(./assets/night.svg);
  filter: contrast(116%) saturate(125%) brightness(95%);
}

body {
  background: var(--bg-color-day) no-repeat top center;
  filter: contrast(116%) saturate(125%) brightness(95%);
  background-size: cover;
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
  will-change: background;
}

body.dark-mode {
  background: var(--bg-color-night) no-repeat top center;
  background-size: cover;
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
  will-change: background;
}

#switch {
  cursor: pointer;
  animation: pulse 2s infinite;
  position: absolute;
  left: 89%;
  margin: 30% auto;
}

#switch button {
  width: 32px;
  height: 32px;
  background:  var(--switch-bg-night) no-repeat center;
  border: 0;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);
  cursor: pointer;
  animation: slide-back 0.2s;
}

.light #switch button {
  background:  var(--switch-bg-day) no-repeat center;
  cursor: pointer;
  animation: slide-in 0.2s forwards;
}

#switch button:hover {
  outline: 8px solid var(--highlight-color);
}


@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

#linkedin img {
  cursor: pointer;
  animation: pulse 2s infinite;
  position: absolute;
  width: 2.3%;
  left: 44.4%;
  margin: 36.5% auto;
}

#instagram img {
  cursor: pointer;
  animation: pulse 2s infinite;
  position: absolute;
  width: 2.3%;
  left: 47.4%;
  margin: 36.5% auto;
}

#github img {
  cursor: pointer;
  animation: pulse 2s infinite;
  position: absolute;
  width: 2.4%;
  left: 50.2%;
  margin: 36.5% auto;
}

#blog img {
  cursor: pointer;
  animation: pulse 2s infinite;
  position: absolute;
  width: 19.6%;
  left: 32.9%;
  margin: 29.8% auto;
}

#Buyamecoffe img {
  cursor: pointer;
  animation: pulse 2s infinite;
  position: absolute;
  width: 3%;
  left: 59.2%;
  margin: 28.7% auto;
}

#Localização img {
  cursor: pointer;
  animation: pulse 2s infinite;
  position: absolute;
  width: 10%;
  left: 74.3%;
  margin: 17.6% auto;
}

#spotfy img {
  cursor: pointer;
  animation: pulse 2s infinite;
  position: absolute;
  width: 5.6%;
  left: 77.4%;
  margin: 27.3% auto;
}

#projetos img {
  cursor: pointer;
  animation: pulse 2s infinite;
  position: absolute;
  width: 15%;
  left: 37.5%;
  margin: 15.4% auto;
}

#curriculo img {
  cursor: pointer;
  animation: pulse 2s infinite;
  position: absolute;
  width: 7%;
  left: 58%;
  margin: 17.5% auto;
}

#snakegame img {
  cursor: pointer;
  animation: pulse 2s infinite;
  position: absolute;
  width: 9%;
  left: 48.3%;
  margin: 18.2% auto;
}

#certificados img {
  cursor: pointer;
  animation: pulse 2s infinite;
  position: absolute;
  width: 7.3%;
  left: 65.5%;
  margin: 17.6% auto;
}

#bio img {
  cursor: pointer;
  animation: pulse 2s infinite;
  position: absolute;
  width: 13%;
  left: 82.6%;
  margin: 17.4% auto;
}

#tech img {
  cursor: pointer;
  animation: pulse 2s infinite;
  position: absolute;
  width: 12%;
  left: 42.5%;
  margin: 6.7% auto;
}

#produtividade img {
  cursor: pointer;
  animation: pulse 2s infinite;
  position: absolute;
  width: 11%;
  left: 38.7%;
  margin: 26% auto;
}

#experiencias img {
  cursor: pointer;
  animation: pulse 2s infinite;
  position: absolute;
  width: 11%;
  left: 46.7%;
  margin: 26.5% auto;
}

#cursos img {
  cursor: pointer;
  animation: pulse 2s infinite;
  position: absolute;
  width: 15%;
  left: 24.7%;
  margin: 28.4% auto;
}

/*mobile*/
@media (max-width: 768px) {
  body {
    background: var(--bg-mobile-day) no-repeat top center;
    filter: contrast(116%) saturate(125%) brightness(95%);
    background-size: cover;
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    will-change: background;
  }
}

body.dark-mobile {
  background: var(--bg-mobile-night) no-repeat top center;
  background-size: cover;
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
  will-change: background;
}

/*mobile*/
@media (max-width: 768px) {
  #switch {
    animation: pulse 2s infinite;
    position: absolute;
    left: 81%;
    margin: 105% auto;
  }
}

/*mobile*/
@media (max-width: 768px) {
  #linkedin img {
    animation: pulse 2s infinite;
    position: absolute;
    width: 5.7%;
    left: 11.1%;
    margin: 167.6% auto;
  }

  #instagram img {
    animation: pulse 2s infinite;
    position: absolute;
    width: 5.7%;
    left: 18.3%;
    margin: 167.5% auto;
  }

  #github img {
    animation: pulse 2s infinite;
    position: absolute;
    width: 6.7%;
    left: 24.8%;
    margin: 167.5% auto;
  }

  #blog img {
  animation: pulse 2s infinite;
  position: absolute;
  width: 48%;
  left: -17%;
  margin: 151.6% auto;
}

  #Buyamecoffe img {
    animation: pulse 2s infinite;
    position: absolute;
    width: 7.1%;
    left: 42%;
    margin: 149.2% auto;
  }

  #Localização img {
    animation: pulse 2s infinite;
    position: absolute;
    width: 23%;
    left: 75%;
    margin: 116% auto;
  }

  #spotfy img {
    animation: pulse 2s infinite;
    position: absolute;
    width: 13%;
    left: 82%;
    margin: 145.9% auto;
  }

  #projetos img {
    animation: pulse 2s infinite;
    position: absolute;
    width: 36.5%;
    left: -3%;
    margin: 117% auto;
  }

  #curriculo img {
    animation: pulse 2s infinite;
    position: absolute;
    width: 19%;
    left: 49%;
    margin: 116% auto;
  }

  #snakegame img {
    animation: pulse 2s infinite;
    position: absolute;
    width: 21%;
    left: 21%;
    margin: 124.3% auto;
  }

  #certificados img {
    animation: pulse 2s infinite;
    position: absolute;
    width: 18%;
    left: 49%;
    margin: 94% auto;
  }

  #bio img {
    animation: pulse 2s infinite;
    position: absolute;
    width: 36%;
    left: 65.5%;
    margin: 70% auto;
  }

  #tech img {
    animation: pulse 2s infinite;
    position: absolute;
    width: 30%;
    left: 4.5%;
    margin: 94.9% auto;
  }

  #produtividade img {
    animation: pulse 2s infinite;
    position: absolute;
    width: 28%;
    left: -2%;
    margin: 141.5% auto;
  }

  #experiencias img {
    animation: pulse 2s infinite;
    position: absolute;
    width: 27%;
    left: 14.5%;
    margin: 143% auto;
  }

  #cursos img {
    animation: pulse 2s infinite;
    position: absolute;
    width: 36%;
    left: 0%;
    margin: 58.1% auto;
  }
}

.modal {
  display: none;
  position: fixed;
  width: 60%;
  min-width: 1537px;
  min-height: 860px;
  background-color: rgba(0, 0, 0, 0.5);

  z-index: 999;
}

.modal-content {
  background: linear-gradient(to bottom, white, grey);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: 1px solid #170a0a;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  
}

.close-btn {
  color: #e41010;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.a {
  width: calc(11% - 10px);
  height: auto;
}

/*mobile*/
@media (max-width: 768px) {
  .a {
    width: calc(22% - 10px);
    height: auto;
  }
}

.carousel {
  position: relative;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.carousel-image {
  width: 100%;
  display: block;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/*mobile*/
@media (max-width: 768px) {
  .modal {
  display: none;
  position: fixed;
  width: 75%;
  min-height: 828px;
  min-width: 420px;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
}

  #j {
    width: 300px;
    height: 480px;
  }
}

/*copyright*/
#copyrightLink a {
  color: black;
  text-decoration: none;
  position: absolute;
  left: 5.7%;
  margin: 42.7% auto;
  font-size: 97%;
}

#copyrightLink a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  #copyrightLink a {
    color: black;
    text-decoration: none;
    position: absolute;
    left: 1%;
    margin: 202.8% auto;
    font-size: 50%;
  }

  #copyrightLink a:hover {
    text-decoration: underline;
  }
}
